*.log
*.mo
.DS_Store
.env
.php*.cache
composer.lock
node_modules
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/build
/coverage
/data/
/ui/.svelte-kit
/ui/build/
/ui/dist/
/ui/package
/ui/src/locale/
/vendor/

# Local config overrides (not committed)
/phpunit.xml
/psalm.xml
