@import './tokens.css';
@import './base.css';
@import './util.css';
@import './grid.css';
@import './button.css';
@import './fields.css';
@import './wysiwyg.css';
@import './tabs.css';
@import './modal.css';

html {
	background-color: var(--cms-color-neutral-50);

	height: 100%;
}

body {
	/**
     * In Chrome, there is an issue with Upload components that
     * are rendered further down the page. When they are clicked
     * on to choose a file, the page gets either completely white
     * or the body moves up like it has a negative margin.
     * When we position the body fixed it does not occur.
     */
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	/* fix end */
	font-family: var(--cms-font-sans);
	overflow: hidden;
}

#panel {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	#nav {
		z-index: 1;
	}

	main {
		z-index: 2;
		flex-grow: 1;
		height: 100vh;
	}
}

.headerbar {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: var(--cms-space-16);
	flex-shrink: 0;
	padding: 0 var(--cms-space-4);

	background-color: var(--cms-color-white);
	border-bottom: var(--cms-border);
}

a,
a:visited,
a:focus {
	color: inherit;
	text-decoration: none;
}
