{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 100,
	"semi": true,
	"singleQuote": true,
	"singleAttributePerLine": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
