name: CI

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DUONCMS_DB_HOST: localhost
      DUONCMS_DB_NAME: duoncms
      DUONCMS_DB_USER: duoncms
      DUONCMS_DB_PASSWORD: duoncms
    steps:
      - name: Setup PHP extensions
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
        with:
          php-version: '8.5'
          extensions: pcov, curl, xml, zip, mbstring, json, pgsql, gd, intl, dom
          coverage: pcov

      - name: Disable Xdebug
        run: sudo phpdismod xdebug

      - name: Checkout repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install packages with composer
        run: composer install

      - name: Start postgresql server and create test db
        run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql -c "CREATE USER ${{ env.DUONCMS_DB_USER }} WITH PASSWORD '${{ env.DUONCMS_DB_PASSWORD }}' CREATEDB;"
          sudo -u postgres createdb --owner ${{ env.DUONCMS_DB_USER }} ${{ env.DUONCMS_DB_NAME }}

      - name: Run tests, static type checker and linter
        run: |
          php -d pcov.enabled=1 ./vendor/bin/phpunit --testdox --coverage-clover=clover.xml --coverage-text --coverage-php=coverage/cover.php --colors=always
          ./vendor/bin/coverlyzer coverage/cover.php

      - name: Upload coverage report to Codacy
        continue-on-error: true
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        with:
          api-token: ${{ secrets.CODACY_API_TOKEN }}
          coverage-reports: clover.xml
